footer {
    position: relative;
    background: var( --color-bg-variant);
    padding: 3rem 0;
    font-size: 0.9rem;
    z-index: 1;
}

footer a {
    color: var(--color-bg);
}

.footer_socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.footer_socials a {
    background: var(--color-bg);
    color: var(--color-white);
    padding: 0.8rem;
    border-radius: 0.7rem;
    display: flex;
    border: 1px solid transparent;

}

.footer_socials a:hover {
    background: transparent;
    color: var(--color-bg);
    border-color: var(--color-bg);
}

.footer_copyright {
    margin-bottom: 3rem;
    color: var(--color-bg);
    text-align: center;
}




/* Media Queries (SM size) */
@media screen and (max-width: 600px) {
    .permalinks {
        flex-direction: column;
        gap: 1.5rem;
    }
    .footer_socials {
        margin: 2.6rem;
    }
}